@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap");
.header {
  background-color: #f8fafe;
  background-image: url(../images/headerBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100%;
  padding-bottom: 20rem;
  overflow: hidden;

  &__heading {
    padding-top: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13rem !important; //Take a look
    .logoBox {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__logo { 
        padding-right: 1.2rem;
        width: 4.5rem;
        height: 4.5rem;
      }

      &__name {
        padding-left: 1.2rem;
        font-family: Roboto, sans-serif, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.6rem;
        color: #ffffff;
        text-transform: uppercase;
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 5.7rem;
      @media (max-width: 37.5em){
        border-radius: .4rem;
        padding: .5rem 1rem;
      }
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #3be300;
        border-color: #3be300;
      }
      p {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2.1rem;
        text-transform: uppercase;
        padding-right: 1.4rem;
        @media (max-width: 37.5em){
          display: none;
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 56.25em){
      flex-wrap: wrap;

    }
    .introduction {
      width: 100%;
      &__heading {
        font-family: $gilroy, Roboto, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 3.8rem;
        line-height: 4.2rem;
        color: #ffffff;
        margin-bottom: 1rem;
        @media (max-width: 37.5em){
          font-size: 3rem;
        }
      }
      
      &__subHeading {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: #ffffff;
        margin-bottom: 4.5rem;
      }

      &__btns {
        display: flex;

        p a {
          text-decoration: none;
          padding: 2rem 3.2rem;
          color: #fff;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 1.6rem;
          font-weight: bold;
          text-transform: uppercase;
          border: 2px solid #fff;
          border-radius: 5rem;
          transition: all 0.3s ease-out;
          @media (max-width: 37.5em){
            font-size: 1.2rem;
          }
          &:hover {
            background-color: #3be300;
            border-color: #3be300;
          }
        }
      }
    }

    .constructors {
      svg {
        width: 60rem;
        height: 100%;
        transform: scale(1.95) translateY(70px);
        padding-left: 50px;
       
        @media (max-width: 85em){
          transform: scale(1.4) translate(-10rem, 16rem);
        }
        @media (max-width: 56.25em){
        transform: scale(1.4) translate(10rem, 7rem);
        }

        @media (max-width: 37.5em){
          // display: none;
          width: 35rem;
          transform: translate(2rem, 15rem) scale(1.5);
        }

      }
    }
  }
}
