.navigationLists {
	position: fixed;
	background-color: #fff;
	height: 100vh;
	width: 100%;
	z-index: 6;
	top: 0;
	display: none;
	padding-top: 4rem;
	animation: moveInBottom 0.3s ease;
	@media (max-width: 85em) {
		top: 0;
		bottom: 0;
		position: fixed;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.container {
		.listHeading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 6rem;
			.logoBox {
				display: flex;
				align-items: center;
				cursor: pointer;

				&__logo {
					// border-right: 1px solid #2b3b57;
					padding-right: 1.2rem;
					@media (max-width: 37.5em) {
						width: 5.5rem;
						height: 5.5rem;
					}
				}

				&__name {
					padding-left: 1.2rem;
					font-family: Roboto, sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 1.4rem;
					color: #2b3b57;
					text-transform: uppercase;
				}
			}

			span {
				cursor: pointer;
				padding-right: 5rem;
				@media (max-width: 37.5em) {
					padding-right: 0;
				}
				svg {
					@media (max-width: 37.5em) {
						width: 4.5rem;
						height: 4.5rem;
					}
					path {
						fill: #2b3b57;
					}
				}
			}
		}

		.lists {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			@media (max-width: 85em) {
				flex-wrap: wrap;
			}

			.leftSide {
				width: 49%;
				.item {
					font-family: Roboto, sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 1.4rem;
					line-height: 150%;
					margin-bottom: 1rem;
					a {
						color: #000000;
						list-style: none;
						text-decoration: none;
						transition: all 0.4s ease;

						&:hover {
							color: #305fc2;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.showIt {
	display: block;
}
