@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');
$gilroy: "Gilroy";

@font-face {
    font-family: $gilroy;
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; //1rem =10px
    scroll-behavior: smooth !important;
    
    @media (max-width: 56.25em){
        font-size: 50%;
    }
    @media (max-width: 37.5em){
        font-size: 47%;
    }
}

.container{
    margin: 0 auto;
    max-width: 135rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
