
.statistics {
  height: 100%;
  background-color: #f8fafe;
  padding: 6rem 2rem;
  // margin-bottom: ;
  position: relative;
  overflow: hidden;

  
  .dot{
    position: absolute;
    @media (max-width: 85em){
      display: none;
     }
  }

  .big1{
    top: 25rem;
    right: 1rem;

    @media (max-width: 85em){
      top: -2rem;
    }
  }
  
  .big2{
    top: 295rem;
    left: 0;
    @media (max-width: 85em){
      top: 3rem;
      left: 12rem;
    }

  }
  
  .little1{
    @media (max-width: 85em){
      top: 13rem;
      left: 4rem;
    }
    top: 95rem;
    left: 14rem;
  }
  
  .little2{
    top: 185rem;
    right: 17rem;
    @media (max-width: 85em){
      top: 0;
      right: 7rem
    }
  }


  
  
  
  &__heading {
    margin-bottom: 8rem;
    
    .listHeading {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 3.2rem;
      line-height: 4rem;
      color: #333333;
      width: 61.3rem;
    }
   
    // .listSub {
    //   font-family: Roboto, sans-serif;
    //   font-style: normal;
    //   font-weight: normal;
    //   font-size: 2.1rem;
    //   line-height: 25px;
    //   color: #2f2f2f;
    // }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .statistic {
    box-shadow: 0px 2px 2.9rem rgba(117, 128, 151, 0.06);
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2.5rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1.6rem;
    z-index: 1 !important;

    @media (max-width: 37.5em){
      flex-direction: column;
    }


    &:hover {
      transform: scale(1.04);
      box-shadow: 0px 2rem 4rem rgba(117, 128, 151, 0.15);
      border-radius: 1rem;
    }
    &:hover .thumbali {
      background-color: #3be300;
    }
    &:hover .info {
      font-weight: bold;
    }

    &:hover .moneyAmount .money {
      color: #e00051;
    }
    &:hover .moneyAmount .period {
      display: block;
    }

    .thumbali {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:.6rem 1.2rem;
      width: 4.3rem;
      min-width: 4.3rem;
      height: 4.3rem;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 2.1rem;
      line-height: 150%;
      border-radius: 50%;
      color: #fff;
      transition: all 0.3s ease;
      margin-right: 3rem;
    
      @media (max-width: 37.5em){
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    .info {
      font-family: Roboto, sans-serif;
      display: flex; 
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 2.1rem;
      line-height: 150%;
      color: #000000;
      padding: 0 2rem;
      width: 100%;
      max-width: 80%;
      border-right: 1px solid rgba(0, 0, 0, 0.16);
      
      @media (max-width: 76.7em){
        max-width: 70%;
      }

      @media (max-width: 37.5em){
        max-width: 100%;
        border-right: none;
        padding-bottom:1.4rem ;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

      }
    }

    .moneyAmount {
      flex: 1;
      text-align: center;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      
      @media (max-width: 85em){
        padding-left: 2rem;
      }
      
      @media (max-width: 37.5em){
        padding-left: 0;
      }
      
      
      .period {        
        width: 100%;
        text-align: center;
        position: absolute;
        display: none;
        bottom: -1.8rem;
        left: 0;
        right: 0;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        color: #474747;
        animation: moveInBottom 0.3s ease;
        white-space: nowrap;          
      }
      .money {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 150%;
        color: #474747;
      }
      .currency {
        margin-top: -10px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 150%;

        @media (max-width: 600px) {
          position: absolute;
          left: calc(100% + 3px);
          top: 3px;            
        }
      }
    }
  }
  .lightGrey {
    background-color: #d6d6d6;
  }
  
  .dolphin{
    background-color: #36CFCF;
  }
  .pink{
      background-color: #FFB1B1;
  }
  .purple{
      background-color: #C39AF6;
  }
  .grass{
      background-color: #DAEF5A;
  }

}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.heading1 {
  position: relative;
  font-family: $gilroy, Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #333333;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  @media (max-width: 85em){
    margin-bottom: 6rem;
    padding-bottom: 3rem;
   }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4rem; 
    height: 2px;
    background: red;
  }
}